@import "tailwindcss";

html,
body {
  margin: 0;
  overflow: hidden;
}

body {
  background: radial-gradient(#969696, #4d4d4d);
}

container {
  width: 100%;
  max-width: 800px;
}

#webgl-canvas {
  outline: none;
}

.p-banner {
  font-size: 3em;
}

.swiper-container {
  /* border: 1px solid rgba(255, 0, 0, 0.5); */
}

#swiper_sources {
  width: 100%;
  margin-left: -1rem;
  /* height: 100px; */
  mask-image: linear-gradient(to right, transparent 0rem, black 1rem, black 85%, transparent 100%);
}
#swiper_sources .swiper-slide {
  padding: 0 1rem;
  transition: opacity 0.2s linear;
}

#swiper_sources .swiper-slide {
  opacity: 0.35;
}
#swiper_sources .swiper-slide.swiper-slide-active {
  opacity: 1;
}

#swiper_tech_stack {
  height: 15em;
  /* -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%); */
  mask-image: linear-gradient(to bottom, transparent 0%, black 30%, black 70%, transparent 100%);
}
#swiper_tech_stack .swiper-slide {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
#swiper_tech_stack .swiper-slide h3 {
  opacity: 0.5;
}
#swiper_tech_stack .swiper-slide.swiper-slide-active h3 {
  opacity: 1;
}
h3 {
  font-size: 2em;
  font-weight: bold;
  color: #222;
  transition: opacity 0.2s linear;
}

@media screen and (width < 768px) {
  #swiper_tech_stack {
    height: 8em;
  }
  h3 {
    font-size: 1em;
  }
}