@import "tailwindcss";

html,
body {
  margin: 0;
  overflow: hidden;
}

body {
  background: radial-gradient(#969696, #4d4d4d);
}

#webgl-canvas {
  outline: none;
}

.p-banner {
  font-size: 3em;
}

.swiper-container {
  border: 1px solid red;
}

#swiper_tech_stack {
  height: 15em;
  /* -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%); */
  mask-image: linear-gradient(to bottom, transparent 0%, black 30%, black 70%, transparent 100%);
}
#swiper_tech_stack .swiper-slide {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
#swiper_tech_stack .swiper-slide h3 {
  opacity: 0.5;
}
#swiper_tech_stack .swiper-slide.swiper-slide-active h3 {
  opacity: 1;
}
h3 {
  font-size: 2em;
  font-weight: bold;
  color: #222;
  transition: opacity 0.2s linear;
}

@media screen and (width < 768px) {
  #swiper_tech_stack {
    height: 8em;
  }
  h3 {
    font-size: 1em;
  }
}